# Google Firebase Web App Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBzg59_tVobEltU5A7ZIG4RLhLF1Nq27a8"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="endoflow-54b71.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="endoflow-54b71"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="endoflow-54b71.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="726336393001"
NEXT_PUBLIC_FIREBASE_APP_ID="1:726336393001:web:7cb54d311f72c2b21ff138"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-TXWGZN2M5M"

# Optional On-Premise PostgreSQL (Omit when running Serverless on Firebase App Hosting)
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vascule_db?schema=public"
# DATABASE_READ_REPLICA_URL="postgresql://postgres:postgres@localhost:5433/vascule_db?schema=public"
NEXTAUTH_SECRET="vascflow-production-secret-hospital-key-2026"
NEXTAUTH_URL="http://localhost:3000"
AUTH_URL="http://localhost:3000"
